/* src/style.css */
#notification-area123 {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1000;
}

.close--icon123 {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.notification123 {
  backdrop-filter: blur(10px);
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Semi-transparent white background */
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  cursor: pointer;
  align-items: center;
  touch-action: pan-x pan-y;
}

.notification123 img {
  max-width: 50px;
  height: 50px !important;
  border-radius: 50%;
  object-fit: cover;
}

.content-wrapper123 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1rem;
  width: 100%;
}

.notification123 .message123 {
  font-size: 0.9rem;
  text-align: left;
  overflow-wrap: anywhere;
}

.notification123 .sender123 {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.notification123 hr {
  width: 80%;
  border: none;
  border-top: 1px solid;
}
